:root {
  --weak-color: #e03939;
  --medium-color: #c5af30;
  --strong-color: #25b35b;
}

.password-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2rem;
  width: 100%;
  max-width: 540px;
  background: var(--primary-bg);
  border: 1px solid var(--primary-border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.card-sections {
  padding: 1rem 0;
}

.password-container {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-border);
  background-color: var(--primary-bg);
}

#password {
  padding: 1rem;
  width: 100%;
  letter-spacing: 1px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: var(--primary-content);
  background-color: var(--primary-bg);
}

#copy-btn {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-border);
}

.options {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--primary-border);
  background-color: var(--primary-bg);
}

.option {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option label {
  font-size: 1rem;
  color: var(--primary-content);
}

.range-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 60%;
}

input[type="range"] {
  height: 6px;
  flex: 1;
  cursor: pointer;
  accent-color: var(--primary-color);
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--primary-color);
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

input[type="checkbox"]:checked::after {
  left: 50%;
  top: 50%;
  font-size: 12px;
  content: "\2714";
  position: absolute;
  transform: translate(-50%, -50%);
  color: var(--primary-bg);
}

#length-value {
  font-weight: 600;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  color: var(--primary-color);
}

button {
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--primary-bg);
}

.strength-container p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-content);
  display: flex;
  justify-content: space-between;
}

#strength-label {
  font-weight: 600;
  color: var(--primary-color);
}

.strength-meter {
  height: 10px;
  border-radius: 5px;
  margin-top: 0.5rem;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-bg);
}

.strength-bar {
  border-radius: 6px;
  height: 100%;
}
